---
import Box from "@/components/box/index.astro";
import BoxHeader from "@/components/box/header.astro";
import BoxTitle from "@/components/box/title.astro";
import BoxContent from "@/components/box/content.astro";
import Badge from "@/components/ui/badge.astro";
import { GraduationCap } from "lucide-react";

const education = {
  degree: "B.Tech in Computer Science",
  institution: "Birla Institute of Technology, Mesra",
  year: "2023 - 2027",
  details: [
    "Built a strong foundation in core Computer Science principles including Data Structures & Algorithms (DSA) and Operating Systems (OS).",
    "Deep-dived into Relational Database Management Systems (RDBMS) and Object-Oriented Programming (OOPs) concepts.",
    "Maintaining a consistent academic record with a current CGPA of 8.91."
  ],
  skills: ["C++", "Data structures and algorithms", "Object oriented programming", "DBMS", "OS"]
};
---

<Box>
  <BoxHeader>
    <BoxTitle className="flex items-center gap-2">
      <GraduationCap className="size-6" />
      Education
    </BoxTitle>
  </BoxHeader>
  <BoxContent>
    <div class="space-y-2">
      <div class="flex justify-between items-start">
        <h3 class="text-lg font-bold">{education.degree}</h3>
        <span class="font-mono text-sm text-muted-foreground">{education.year}</span>
      </div>
      <p class="text-sm font-medium text-primary/80">{education.institution}</p>
      
      <ul class="mt-4 space-y-2 border-l-2 border-dashed pl-4">
        {education.details.map((detail) => (
          <li class="text-sm leading-6">♦ {detail}</li>
        ))}
      </ul>

      <div class="mt-4 flex flex-wrap gap-2">
        {education.skills.map((skill) => (
          <Badge>{skill}</Badge>
        ))}
      </div>
    </div>
  </BoxContent>
</Box>
